
<div class="row store-search-list-user" ng-repeat="user in list">
  	<legend style="padding-left:10px">Utilisateurs</legend>
  	<div class="col-md-1 col-md-offset-1" >
    	<div style="background-color: white;border-color: black;border:O.5px solid black;">
  			<img class="user-picture-profil" ng-src="{{getUrlImageProfil(user.idpicture)}}"/>
  		</div>  		
  	</div>
    <div class="col-md-10" >
    	<div style="border:0px solid black">
  			<p style="color:blue;font-size:1.125em;font-style:normal">Nom : {{user.name}}</p>
  			<p >Prenom : {{user.firstname}}</p>
  			<p style="font-style:italic">Adresse Mail : {{user.mail}}</p>
  		</div>
  	</div>  	
  </div>
  
</div>

