<div  ng-controller="ProductController" ng-init="getCart()">

  <div class="row" ng-repeat="product in cart">
		<legend style="padding-left:10px">Produits</legend>
	  	<div class="col-md-1 col-md-offset-1" >
	    	<div style="background-color: white;border-color: black;border:O.5px solid black;">
	  			<img class="user-picture-profil" ng-src="{{getUrlImageProfil(produit.idpicture)}}"/>
	  		</div>  		
	  	</div>
	    <div class="col-md-8" >
	    	<div style="border:0px solid black">
	  			<p style="color:blue;font-size:1.125em;font-style:normal">Label : {{product.label}}</p>
	  			<p >Prix : {{product.price}}</p>
	  			<p >Quantité : {{product.quantity}}</p>
	  			
	  		</div>
	  	</div> 
	  	 <div class="col-md-2">
	  	 	<button class="btn btn-info" ng-click="delCart(product)">Supprimer du panier <span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
	  	</div> 	
	  </div>
</div> 		