<h3> <product-title> </h3>
	<product-panels ng-controller="PanelController as panel">	 

 	<ul class="nav nav-pills">
 	<li  ng-class="{ active: panel.isSelected(1)}">
 		<a href ng-click="panel.selectTab(1)">Utilisateur</a> </li>	
 	<li ng-class="{ active: panel.isSelected(2)}">
 		<a href ng-click="panel.selectTab(2)">Produits</a> </li>
 	<li ng-class="{ active: panel.isSelected(3)}">
 		<a href ng-click="panel.selectTab(3)">Projets</a> </li>
 	</ul>
 		
 	<div class="panel" ng-show="panel.isSelected(1)">	
		<div ng-include="'views/usersList.html'"/>
	</div> 		
	<div class="panel" ng-show="panel.isSelected(3)">		
		<div ng-include="'views/products.html'"/>
	</div>

 </product-panels>